
$background_color:#f0f0f0;
$row_separation_color:#dadada;
$neutral_color:#868686;
$institutional_color:#0975b2;
$text_color:#363636;

$title_size:18pt;
$subtitle_size:14pt;
$text_size:14pt;

$test_color:(#c6d5f1, #dec6f1, #c6f1c9, #f1c6c6, #f1e6c6, #c6f1f1, #ef7373, #e773ef, #7377ef, #73efe9, #73ef88, #e2ef73, #efbd73);

body{background-color: $background_color;}
#tablet_container{
	// background-color: $background_color;
	width: 1024px;
    height: 500px;
    display: flex;
    // overflow: scroll;
}

#tablet_container #col1, #tablet_container #col2,#tablet_container #col3{
	display:flex;
	float:left;
}

#tablet_container #col1,#tablet_container #col3
{
	width: 106px;
	// background-color: nth($test_color,1);
}
#tablet_container #col2{
	width: 812px;

	#col2_padding{
		width: 100%;
		padding: 0px 10px;

		#header{
			// background-color: nth($test_color,2);
			width: 100%;
			#logo_container{
				// background-color: nth($test_color,4);
				width: 100%;
				height: 80px;
			}
			#title{
				// background-color: nth($test_color,4);
				font-family: arial;
				color:$institutional_color;
				font-size: $title_size;
				font-weight: bold;
				text-align: center;
			}
			#subtitle{
				color: $neutral_color;
				font-size: $subtitle_size;
				text-align: center;
				margin-bottom: 10px;
			}

		}

		#content{
			// background-color: nth($test_color,3);
			width: 100%;
			#table_title{
				width: 100%;
				font-family: arial;
				// color:$neutral_color;
				font-size: calc($text_size -1pt);
				font-weight: bold;
				text-align: end;
				padding-right: 33px;
    			box-sizing: border-box;
			}
			#separador{
				width: 100%;
				height: 1px;
				background-color: $neutral_color;
			}
			ul{
				padding: 0px 0px;
				list-style: none;
				margin-top: 5px;
				.relleno{
					background-color: $row_separation_color;
				}
				li{
					// background-color: nth($test_color,5);
					display: inline-flex;
					width: 100%;
					padding: 10px 0px;
					.texto_div{
						width: 70%;
						float: left;
						text-align: left;
						font-size: $text_size;
					    padding-left: 10px;
					    vertical-align: bottom;
					    line-height: 27px;
						// background-color: nth($test_color,7);
					}
					.rating_div{
						width: 30%;
						float: left;
						padding-left: 9%;
    					box-sizing: border-box;
						// background-color: nth($test_color,6);
					}
				}
			}


		}
	}
}
